html {
    box-sizing: border-box; 
    background: black; 
    font-size: 20px; 
    font-weight: 200; 
}

body {
    margin: 0; 
}

.panels {
    min-height: 100vh; 
    overflow: hidden; 
}

.panel {
    background: darkgray; 
    color: white; 
    text-align: center;
    align-items: center;
    transition: 
        font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
        background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;;
}

.panel1 { background-image: url(https://images.unsplash.com/photo-1547595628-c61a29f496f0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=687&q=80); }
.panel2 { background-image: url(https://images.unsplash.com/photo-1633285874195-b4c5dd4caace?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDIyMnx4alBSNGhsa0JHQXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); }
.panel3 { background-image: url(https://images.unsplash.com/photo-1574672280600-4accfa5b6f98?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80); }
.panel4 { background-image: url(https://images.unsplash.com/photo-1636635857083-c345c94519ad?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDM4fHhqUFI0aGxrQkdBfHxlbnwwfHx8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); }
.panel5 { background-image: url(https://images.unsplash.com/photo-1627883408276-bc4cca6441a8?ixid=MnwxMjA3fDB8MHx0b3BpYy1mZWVkfDE4Nnx4alBSNGhsa0JHQXx8ZW58MHx8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60); }

.panel > * {
    margin: 0; 
    width: 100%; 
    transition: transform 0.5s;
}

.panel > p:nth-child(2) {
    font-size: 4em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.panel.open {
    font-size: 40px;
}

